# __Pandas DataFrame__

## __Agenda__

- Introduction to Pandas DataFrame
  * Creating a DataFrame Using Different Methods
  * Accessing the DataFrame
  * Understanding DataFrame Basics
- Introduction to Statistical Operations in Pandas
  * Descriptive Statistics
  * Mean, Median, and Standard Deviation
  * Correlation Analysis

## __1. Introduction to Pandas DataFrame__

### __1.1 Creating a DataFrame Using Different Methods__
Creating a Pandas DataFrame is a fundamental step in data analysis and manipulation.
- Diverse methods are available within Pandas to generate a DataFrame, addressing various data sources and structures.
- Data, whether in Python dictionaries, lists, NumPy arrays, or external files such as CSV and Excel, can be seamlessly transformed into a structured tabular format by Pandas.

In [1]:
import pandas as pd

# Creating a DataFrame from a dictionary
data_dict = {'Name': ['Alice', 'Bob', 'Charlie'],
             'Age': [25, 30, 34],
             'Salary': [50000, 60000, 45000]}

df_dict = pd.DataFrame(data_dict)
print(df_dict)

# Creating a DataFrame from lists
data_list = [['Alice', 25, 50000], ['Bob', 30, 60000], ['Charlie', 22, 45000]]

# Defining column names
columns = ['Name', 'Age', 'Salary']

df_list = pd.DataFrame(data_list, columns=columns)
print(df_list)

# Creating a DataFrame from a NumPy array
import numpy as np
data_array = np.array([['Alice', 25, 50000],
                       ['Bob', 30, 60000],
                       ['Charlie', 22, 45000]])

df_array = pd.DataFrame(data_array, columns=columns)
print(df_array)

# Creating a DataFrame from a CSV file
df_csv = pd.read_csv('HousePrices.csv')
print(df_csv)

# Creating a DataFrame from an Excel file
df_excel = pd.read_excel('Iris.xlsx')
print(df_excel)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   34   45000
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
      Name Age Salary
0    Alice  25  50000
1      Bob  30  60000
2  Charlie  22  45000
                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### __1.2 Accessing the DataFrame__

Accessing a Pandas DataFrame involves employing various methods for selecting and retrieving data, whether it be specific columns, rows, or individual cells.
- Utilizing square brackets, iloc and loc indexers, and conditions, analysts can navigate and extract the necessary information from the DataFrame for further analysis and manipulation.
- The flexibility of Pandas allows for both label-based and position-based indexing, offering a versatile toolkit for accessing and working with data efficiently.

In [2]:
import pandas as pd

# Creating a sample DataFrame
data = {'Column_name': [5, 15, 8],
        'Column1': [10, 20, 30],
        'Column2': [100, 200, 300],
        'Another_column': [25, 35, 45]}

df = pd.DataFrame(data)

# Accessing a single column
column_data = df['Column_name']
print("Single column:")
print(column_data)

# Accessing multiple columns
selected_columns = df[['Column1', 'Column2']]
print("\nMultiple columns:")
print(selected_columns)

# Accessing a specific row by index
row_data = df.iloc[0]
print("\nSpecific row:")
print(row_data)

# Accessing rows based on a condition
filtered_rows = df[df['Column_name'] > 10]
print("\nFiltered rows:")
print(filtered_rows)

# Accessing a single cell by label
value = df.at[0, 'Column_name']
print("\nSingle cell by label:")
print(value)

# Accessing a single cell by position
value = df.iat[0, 1]  # Row 0, Column 1
print("\nSingle cell by position:")
print(value)

# Accessing data using .loc
selected_data = df.loc[0, 'Column_name']
print("\nData using .loc:")
print(selected_data)

# Conditional access
selected_data = df[df['Column_name'] > 10]['Another_column']
print("\nConditional access:")
print(selected_data)

Single column:
0     5
1    15
2     8
Name: Column_name, dtype: int64

Multiple columns:
   Column1  Column2
0       10      100
1       20      200
2       30      300

Specific row:
Column_name         5
Column1            10
Column2           100
Another_column     25
Name: 0, dtype: int64

Filtered rows:
   Column_name  Column1  Column2  Another_column
1           15       20      200              35

Single cell by label:
5

Single cell by position:
10

Data using .loc:
5

Conditional access:
1    35
Name: Another_column, dtype: int64

### __1.3 Understanding DataFrame Basics__
- The head() and tail() methods enable users to efficiently preview the initial and final rows of a DataFrame, offering a quick snapshot of its structure and content.
- These functions are invaluable for a preliminary assessment of column names, data types, and potential issues. Additionally, the info() method provides a comprehensive summary, detailing data types, non-null counts, and memory usage, aiding in the identification of missing or inconsistent data.
- The shape attribute, on the other hand, succinctly communicates the dimensions of the DataFrame, encapsulating the number of rows and columns.
- The syntax for some functions is provided below:

In [3]:
import pandas as pd

# Create a sample DataFrame
data = {'Column_name': [5, 15, 8],
        'Column1': [10, 20, 30],
        'Column2': [100, 200, 300],
        'Another_column': [25, 35, 45]}

df = pd.DataFrame(data)

# Display the first 2 rows
print("First 2 rows:")
print(df.head(2))

# Display the last row
print("\nLast row:")
print(df.tail(1))

# Provide a comprehensive summary of the DataFrame
print("\nDataFrame summary:")
df.info()

# Return a tuple representing the dimensions of the DataFrame (Rows, columns)
print("\nDataFrame dimensions:")
print(df.shape)

First 2 rows:
   Column_name  Column1  Column2  Another_column
0            5       10      100              25
1           15       20      200              35

Last row:
   Column_name  Column1  Column2  Another_column
2            8       30      300              45

DataFrame summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Column_name     3 non-null      int64
 1   Column1         3 non-null      int64
 2   Column2         3 non-null      int64
 3   Another_column  3 non-null      int64
dtypes: int64(4)
memory usage: 228.0 bytes

DataFrame dimensions:
(3, 4)

## __2. Introduction to Statistical Operations in Pandas__
Pandas supports the computation of fundamental measures such as mean and median, along with the exploration of correlations and distribution characteristics.

The following examples illustrate key statistical operations available in Pandas:

### __2.1 Descriptive Statistics__
It offers a snapshot of the dataset's central tendencies and dispersions.

The describe() function provides a quick summary, including mean, standard deviation, and quartile information.

In [4]:
import pandas as pd

# Create a sample DataFrame with numeric columns
data = {'Numeric_column1': [5, 15, 8],
        'Numeric_column2': [10, 20, 30],
        'Numeric_column3': [100, 200, 300]}

df = pd.DataFrame(data)

# Display descriptive statistics for numeric columns
print("Descriptive statistics for numeric columns:")
print(df.describe())

Descriptive statistics for numeric columns:
       Numeric_column1  Numeric_column2  Numeric_column3
count         3.000000              3.0              3.0
mean          9.333333             20.0            200.0
std           5.131601             10.0            100.0
min           5.000000             10.0            100.0
25%           6.500000             15.0            150.0
50%           8.000000             20.0            200.0
75%          11.500000             25.0            250.0
max          15.000000             30.0            300.0

### __2.1 Mean, Median, and Standard Deviation__

In [5]:
import pandas as pd

# Create a sample DataFrame with numeric columns
data = {'Numeric_column1': [5, 15, 8],
        'Numeric_column2': [10, 20, 30],
        'Numeric_column3': [100, 200, 300]}

df = pd.DataFrame(data)

# Calculate mean, median, and standard deviation
mean_value = df.mean()
median_value = df.median()
std_deviation = df.std()

print("Mean:\n", mean_value)
print("\nMedian:\n", median_value)
print("\nStandard deviation:\n", std_deviation)

Mean:
 Numeric_column1      9.333333
Numeric_column2     20.000000
Numeric_column3    200.000000
dtype: float64

Median:
 Numeric_column1      8.0
Numeric_column2     20.0
Numeric_column3    200.0
dtype: float64

Standard deviation:
 Numeric_column1      5.131601
Numeric_column2     10.000000
Numeric_column3    100.000000
dtype: float64

### __2.2 Correlation Analysis__
The corr() function generates a correlation matrix, indicating how variables relate to each other.

Values closer to 1 or -1 imply a stronger correlation, while values near 0 suggest a weaker correlation.

In [6]:
import pandas as pd

# Create a sample DataFrame with numeric columns
data = {'Numeric_column1': [5, 15, 8],
        'Numeric_column2': [10, 20, 30],
        'Numeric_column3': [100, 200, 300]}

df = pd.DataFrame(data)

# Compute correlation matrix
correlation_matrix = df.corr()

print("Correlation matrix:\n", correlation_matrix)

Correlation matrix:
                  Numeric_column1  Numeric_column2  Numeric_column3
Numeric_column1         1.000000         0.292306         0.292306
Numeric_column2         0.292306         1.000000         1.000000
Numeric_column3         0.292306         1.000000         1.000000

#### __Value Counts__
The value_counts() function tallies the occurrences of unique values in a categorical column, aiding in understanding the distribution of categorical data.

In [7]:
import pandas as pd

# Create a sample DataFrame with a category column
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A', 'B', 'C']}
df = pd.DataFrame(data)

# Count occurrences of unique values in the category column
value_counts = df['Category'].value_counts()

print("Value counts:\n", value_counts)

Value counts:
 Category
A    4
B    3
C    3
Name: count, dtype: int64

# __Practice Work :__

## __Problem Statement:__
Analyze a housing dataset using Pandas DataFrame and statistical operations to understand the basic characteristics of the data and the relationships between different variables.

## __Steps to Perform:__
- Load the housing dataset into a Pandas DataFrame
- Familiarize with the DataFrame basics such as its structure, data types of the columns, and summary statistics
- Calculate descriptive statistics like mean, median, and standard deviation for numerical columns such as __LotArea__, __YearBuilt__, __1stFlrSF__, __2ndFlrSF__, and __SalePrice__
- Determine the correlation between different numerical variables such as __LotArea__ and __SalePrice__, __YearBuilt__ and __SalePrice__, __1stFlrSF__ and __SalePrice__, and __2ndFlrSF__ and __SalePrice__
- Count the number of occurrences of each category in categorical variables such as __Neighborhood__, __BldgType__, and __HouseStyle__

In [8]:
import pandas as pd

# Load the dataset
housing_data = pd.read_csv("housing_data.csv")

# Display basic structure and data types of the DataFrame
print("DataFrame Structure:")
print(housing_data.info())

# Display summary statistics for numerical columns
print("\nSummary Statistics:")
print(housing_data.describe())

# Calculate mean, median, and standard deviation for selected numerical columns
numerical_columns = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'SalePrice']
for col in numerical_columns:
    print(f"\nStatistics for {col}:")
    print(f"Mean: {housing_data[col].mean():.2f}")
    print(f"Median: {housing_data[col].median():.2f}")
    print(f"Standard Deviation: {housing_data[col].std():.2f}")

# Calculate correlation between selected numerical variables
correlation_pairs = [
    ('LotArea', 'SalePrice'),
    ('YearBuilt', 'SalePrice'),
    ('1stFlrSF', 'SalePrice'),
    ('2ndFlrSF', 'SalePrice')
]

print("\nCorrelation between selected variables:")
for col1, col2 in correlation_pairs:
    correlation = housing_data[col1].corr(housing_data[col2])
    print(f"Correlation between {col1} and {col2}: {correlation:.2f}")

# Count occurrences of each category in categorical variables
categorical_columns = ['Neighborhood', 'BldgType', 'HouseStyle']
for col in categorical_columns:
    print(f"\nCategory counts for {col}:")
    print(housing_data[col].value_counts())

DataFrame Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1460 non-null   int64
 1   MSSubClass     1460 non-null   object
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1460 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1460 non-null   object
 31  BsmtCond       1460 non-null   object
 32  BsmtExposure   1460 non-null   object
 33  BsmtFinType1   1460 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1460 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   object
 58  GarageType     1460 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1460 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1460 non-null   object
 64  GarageCond     1460 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         1460 non-null   object
 73  Fence          1460 non-null   object
 74  MiscFeature    1460 non-null   object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   object
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(33), object(45)
memory usage: 924.0+ KB
None

Summary Statistics:
        Unnamed: 0  LotFrontage        LotArea  OverallQual  OverallCond  \
count  1460.000000  1460.000000    1460.000000  1460.000000  1460.000000
mean    729.500000    57.623288   10516.828082     6.099315     5.575342
std     421.610009    34.664304    9981.264932     1.382997     1.112799
min       0.000000     0.000000    1300.000000     1.000000     1.000000
25%     364.750000    42.000000    7553.500000     5.000000     5.000000
50%     729.500000    63.000000    9478.500000     6.000000     5.000000
75%    1094.250000    79.000000   11601.500000     7.000000     6.000000
max    1459.000000   313.000000  215245.000000    10.000000     9.000000

         YearBuilt  YearRemodAdd   MasVnrArea   BsmtFinSF1   BsmtFinSF2  ...  \
count  1460.000000   1460.000000  1460.000000  1460.000000  1460.000000  ...
mean   1971.267808   1984.865753   103.117123   443.639726    46.549315  ...
std      30.202904     20.645407   180.731373   456.098091   161.319273  ...
min    1872.000000   1950.000000     0.000000     0.000000     0.000000  ...
25%    1954.000000   1967.000000     0.000000     0.000000     0.000000  ...
50%    1973.000000   1994.000000     0.000000   383.500000     0.000000  ...
75%    2000.000000   2004.000000   164.250000   712.250000     0.000000  ...
max    2010.000000   2010.000000  1600.000000  5644.000000  1474.000000  ...

        GarageArea   WoodDeckSF  OpenPorchSF  EnclosedPorch    3SsnPorch  \
count  1460.000000  1460.000000  1460.000000    1460.000000  1460.000000
mean    472.980137    94.244521    46.660274      21.954110     3.409589
std     213.804841   125.338794    66.256028      61.119149    29.317331
min       0.000000     0.000000     0.000000       0.000000     0.000000
25%     334.500000     0.000000     0.000000       0.000000     0.000000
50%     480.000000     0.000000    25.000000       0.000000     0.000000
75%     576.000000   168.000000    68.000000       0.000000     0.000000
max    1418.000000   857.000000   547.000000     552.000000   508.000000

       ScreenPorch     PoolArea       MiscVal       YrSold      SalePrice
count  1460.000000  1460.000000   1460.000000  1460.000000    1460.000000
mean     15.060959     2.758904     43.489041  2007.815753  180921.195890
std      55.757415    40.177307    496.123024     1.328095   79442.502883
min       0.000000     0.000000      0.000000  2006.000000   34900.000000
25%       0.000000     0.000000      0.000000  2007.000000  129975.000000
50%       0.000000     0.000000      0.000000  2008.000000  163000.000000
75%       0.000000     0.000000      0.000000  2009.000000  214000.000000
max     480.000000   738.000000  15500.000000  2010.000000  755000.000000

[8 rows x 36 columns]

Statistics for LotArea:
Mean: 10516.83
Median: 9478.50
Standard Deviation: 9981.26

Statistics for YearBuilt:
Mean: 1971.27
Median: 1973.00
Standard Deviation: 30.20

Statistics for 1stFlrSF:
Mean: 1162.63
Median: 1087.00
Standard Deviation: 386.59

Statistics for 2ndFlrSF:
Mean: 346.99
Median: 0.00
Standard Deviation: 436.53

Statistics for SalePrice:
Mean: 180921.20
Median: 163000.00
Standard Deviation: 79442.50

Correlation between selected variables:
Correlation between LotArea and SalePrice: 0.26
Correlation between YearBuilt and SalePrice: 0.52
Correlation between 1stFlrSF and SalePrice: 0.61
Correlation between 2ndFlrSF and SalePrice: 0.32

Category counts for Neighborhood:
Neighborhood
NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: count, dtype: int64

Category counts for BldgType:
BldgType
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: count, dtype: int64

Category counts for HouseStyle:
HouseStyle
1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: count, dtype: int64